@tailwind base;
@tailwind components;
@tailwind utilities;

.icon_vector {
  width: 23.84px;
  height: 23.5px;

  background: #0166ff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  /* Vector */

  width: 23.84px;
  height: 23.5px;

  background: #0166ff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
